<!-- /.content-wrapper -->
<footer class="main-footer">

  <strong>Copyright &copy; 2018
    <a href="javascript:void(0)">My Application</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" style="display:none;">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li>
      <a href="#control-sidebar-home-tab" data-toggle="tab">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li>
      <a href="#control-sidebar-settings-tab" data-toggle="tab">
        <i class="fa fa-gears"></i>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Recent Activity</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:void(0)">
            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

              <p>Will be 23 on April 24th</p>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="menu-icon fa fa-user bg-yellow"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

              <p>New phone +1(800)555-1234</p>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

              <p>nora@example.com</p>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="menu-icon fa fa-file-code-o bg-green"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

              <p>Execution time 5 seconds</p>
            </div>
          </a>
        </li>
      </ul>
      <!-- /.control-sidebar-menu -->

      <h3 class="control-sidebar-heading">Tasks Progress</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:void(0)">
            <h4 class="control-sidebar-subheading">
              Custom Template Design
              <span class="label label-danger pull-right">70%</span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <h4 class="control-sidebar-subheading">
              Update Resume
              <span class="label label-success pull-right">95%</span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-success" style="width: 95%"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <h4 class="control-sidebar-subheading">
              Laravel Integration
              <span class="label label-warning pull-right">50%</span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <h4 class="control-sidebar-subheading">
              Back End Framework
              <span class="label label-primary pull-right">68%</span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
            </div>
          </a>
        </li>
      </ul>
      <!-- /.control-sidebar-menu -->

    </div>
    <!-- /.tab-pane -->
    <!-- Stats tab content -->
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
      <form method="post">
        <h3 class="control-sidebar-heading">General Settings</h3>

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Report panel usage
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Some information about this general settings option
          </p>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Allow mail redirect
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Other sets of options are available
          </p>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Expose author name in posts
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Allow the user to show his name in blog posts
          </p>
        </div>
        <!-- /.form-group -->

        <h3 class="control-sidebar-heading">Chat Settings</h3>

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Show me as online
            <input type="checkbox" class="pull-right" checked>
          </label>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Turn off notifications
            <input type="checkbox" class="pull-right">
          </label>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Delete chat history
            <a href="javascript:void(0)" class="text-red pull-right">
              <i class="fa fa-trash-o"></i>
            </a>
          </label>
        </div>
        <!-- /.form-group -->
      </form>
    </div>
    <!-- /.tab-pane -->
  </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- bootstrap time picker -->
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/bower_components/chart.js/Chart.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>

<!-- DataTables -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<!-- Page script -->

<script>
  $(document).ready(function () {
    // $('table').DataTable({
    //   "order": []
    // });

    $('select').select2();

  });
</script>

<script>
  function Activedeactive(id, status, controller) {
    $.ajax({
      url: "/admin/" + controller + "/activedeactive",
      method: "post",
      datatype: "html",
      data: { "id": id, "status": status },
      success: function (data) {
        if (data.status == 1) {
          var table = $('#users-table').DataTable();
          table.clear().draw();
          if (controller == "user") {
            var messages = status == "1" ? "User activated successfully" : "User deactivated successfully";
          }
          else {
            var messages = status == "1" ? "Activated successfully" : "Deactivated successfully";
          }
          $('.content .box').prepend('<div class="alert alert-success" style= "margin-top: 5px;">' + messages + '</div>');
          setTimeout(function () {
            $('.alert-success').fadeOut();
          }, 2000);
        }
        else {
          var messages = data.message;
          $('.content .box').prepend('<div class="alert alert-danger" style= "margin-top: 5px;">' + messages + '</div>');
          setTimeout(function () {
            $('.alert-danger').fadeOut();
          }, 2000);
        }
      }
    });
  }

  function Delete(id, controller) {
    if (confirm("Are you sure want to delete?")) {
      $.ajax({
        url: "/admin/" + controller + "/delete",
        method: "post",
        datatype: "html",
        data: { "id": id },
        success: function (data) {
          if (data.status == 1) {
            var $result = $(data).find('.box-body');
            var table = $('#users-table').DataTable();
            table.clear().draw();
            var messages = "User deleted successfully";
            $('.content .box').prepend('<div class="alert alert-success" style= "margin-top: 5px;">' + messages + '</div>');
            setTimeout(function () {
              $('.alert-success').fadeOut();
            }, 2000);
          }
          else {
            var messages = data.message;
            $('.content .box').prepend('<div class="alert alert-danger" style= "margin-top: 5px;">' + messages + '</div>');
            setTimeout(function () {
              $('.alert-danger').fadeOut();
            }, 2000);
          }
        }
      });
    }
  }
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script>

  $(document).ready(function () {
    $('.alert-success').remove();
    var messages = '<%= (typeof messages == "object")?messages:"" %>';
    if (messages != 'undefined' && messages != '') {
      $('.content .box').prepend('<div class="alert alert-success" style= "margin-top: 5px;">' + messages + '</div>');
      setTimeout(function () {
        $('.alert-success').fadeOut();
      }, 2000);
    }
    $('.alert-danger').remove();
    var error_messages = '<%= (error_messages != "undefined")?error_messages:"" %>';
    if (error_messages != 'undefined' && error_messages != '') {
      $('.content .box').prepend('<div class="alert alert-danger" style= "margin-top: 5px;">' + error_messages + '</div>');
      setTimeout(function () {
        $('.alert-danger').fadeOut();
      }, 2000);
    }

  });

  $(document).ready(function () {

    var url = window.location.pathname;
    // var segements = url.split('/');
    // var action_path = '/' + segements[1] + '/' + segements[2];

    $.ajax({
      url: "/admin/site/user-access",
      method: "post",
      data: { "url": url },
      success: function (result) {
        if (result.status == 1) {
          var access = result.permission;

          if (access.is_add != '1') {
            $('.create_new_button').remove();
          }

          if (access.is_update != 1) {
            $('.useraccess_update').remove();
          }

          if (access.is_delete != 1) {
            $('.useraccess_delete').remove();
          }

          if (access.is_publish != '1') {
            $('.useraccess_active-dective').remove();
          }

        }
      }
    });
  });


  function checkExists(value, type) {
    var data;
    if (type == 'email') {
      data = { "email": value }
    }
    if (type == 'phone') {
      data = { "phone": value }
    }
    $.ajax({
      url: "/admin/user/check-exists",
      method: "post",
      data: data,
      success: function (result) {
        if (result.status == 0) {
          $("input[name='" + type + "']").parent('div').addClass("has-error has-danger");
          $("input[name='" + type + "']").siblings('div').html(result.message);
        }
      }
    });
  }

  //Flat red color scheme for iCheck
  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    checkboxClass: 'icheckbox_flat-green',
    radioClass: 'iradio_flat-green'
  })

</script>

</body>

</html>