<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Application</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/custom.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <div class="outer-box">
    <div class="middle-box">
      <div class="login-box">
        <div class="login-logo">          
          <img src="/setting_logo_image/logo.png" alt="LOGO" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">Reset Password</p>

          <% if ( typeof(message)!='undefined' && message.length>0) { %>
            <div class="alert alert-warning">
              <div class="flash">
                <%= message %>
              </div>
            </div>
            <% } %>

              <form action="/admin/resetpassword" method="post" role="form" data-toggle="validator" autocomplete="off">

                <div class="form-group has-feedback">
                  <input type="password" class="form-control ic_pass" name="newpassword" required="true" placeholder="New Password">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <input type="password" class="form-control ic_pass" name="confirmpassword" required="true" placeholder="Confirm Password">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>


                <div class="row">
                  <div class="col-xs-5 submit-btn">
                    <button type="submit" class="btn btn-primary btn-block btn-flat ">Reset Password</button>
                  </div>
                </div>

              </form>
              <div class="middle-link">
                <a href="/admin/login">Back to Login</a>
              </div>

        </div>
        <!-- /.login-box-body -->
      </div>
    </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

</body>

</html>