<% include ../newheader %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- <h1>
        403 Permission denied
      </h1> -->
      <!-- <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 403</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Permission denied.</h3>

          <p>
            Unable to action perform. Please ensure you have access to the specified path location and 
            permissions to modify its contents. Running as an elevated administrator may be required.
            Meanwhile, you may <a href="/admin/dashboard">return to dashboard</a> 
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  
  <% include ../new_footer %>
  
  